* {
  box-sizing: border-box;
}

main{
  padding: 30px;
}

.search label{
  padding-left: 10px;
}

.dropdown {
  background-color: white;
  border: solid 1px black; 
  display: none;
  list-style-type: none;
  max-height: 300px;
  overflow: auto;
  padding: 0;
  position: absolute;
  left: 0;
  top: 5px;
  max-width: 300px;
}

.isVisible {
  display: block;
}

.isHidden {
  display: none;
}

.dropdown li {
  padding: 2px 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown li a{
  font-size:14px;
  line-height: 18px;
  text-decoration:none;
}


.dropdownhWrapper{
  margin: 10px;
  position: relative;
}

.list{
  display:flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.list.isVisible{
  display: flex;
}

.list li{
  border: solid 1px black;
  padding: 20px;
  margin: 10px;
  width: calc(20% - 20px);
  min-width:200px;
}

.resourcesDisplay {
  padding:  10px 10px 30px 10px;
}

.resourcesDisplay label{
  margin-right:  20px;
}

mark{
  color: white;
  font-weight: bold;
  background-color: red;
}

.expanded{
  display: block;
}

.collapsed{
  display: none;
}
